$lightColor: #f8f8f8;
$darkColor: #19191d;
$accentColor: #2264d1;
$boldColor: #000;
$grayColor: #787885;
$borderColor: rgba(58, 58, 68, 0.5);
$mainFF: "Inter", sans-serif;
$secondaryFF: "Quicksand", sans-serif;
